
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span data-ng-click="vm.cancel()" aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Group</h4>
            </div>
            <form ng-submit="vm.save(vm.type, vm.name)" name="addGroup">
                <div class="modal-body">
                    <div class="form-group" data-ng-class="{'has-error': addGroup.GroupName.$error.pattern}">
                        <label for="GroupName">Name</label>
                        <input required data-ng-model="vm.name" data-ng-pattern="/[a-zA-Z0-9-\s]{1,}/g" type="text" class="form-control" name="GroupName" id="GroupName" placeholder="Group name">
                    </div>
                    <div class="form-group">
                        <label for="GroupType">Type</label>
                        <!--<select id="GroupType" ng-options="item as vm.groups for item in vm.groups" data-ng-model="selected">Type</select>-->
                        <select required data-ng-model="vm.type" class="form-control" id="GroupType">
                            <option value="">-- choose type --</option>
                            <option value="private">--   Private   --</option>
                            <option value="public">--   Public    --</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-ng-click="vm.cancel()">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->